a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-header {
  display: flex;
  align-items: center;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation {
  display: flex;
}

.menu-list {
  font-weight: 500;
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.header-items {
  font-weight: 500;
  margin-left: auto;
  display: flex;
}

.list-item + .list-item {
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.list-items + .list-items {
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.list-item:hover {
  color: #2196f3;
}

.list-items:hover {
  color: #2196f3;
}

.item-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition: color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover,
.item-link:focus {
  color: #2196f3;
}

.item-link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2196f3;
  position: absolute;
  top: 45px;
}

.email {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.icon-mail {
  margin-right: 10px;
  fill: #757575;
}

.email:hover .icon-mail {
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.email:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: initial;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.web-logo {
  color: #2196f3;
}

.studio-logo {
  color: #000;
}

button {
  border: 0;
}

.button {
  font-weight: 700;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-style: none;
  color: white;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.bth-footer {
  margin-left: 12px;
  width: 200px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-socials-wrapper {
  margin-left: 70px;
}

.svg-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44454e;
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link-footer:hover,
.svg-link-footer:focus {
  background-color: #2196f3;
}

.svg-link-footer:hover .cosial-icon-footer {
  fill: #fff;
}

.cosial-icon-footer {
  fill: #fff;
}

.footer-socials-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 12px;
}

.flex-footer {
  display: flex;
}

.footer-contacts {
  margin-top: 9px;
}

.footer-contact + .footer-contact {
  margin-top: 9px;
}

.footer-contact-info {
  font-style: normal;
}

.footer-subs-wrapper {
  margin-left: 93px;
  margin-top: 12px;
}

.footer-subs-title {
  color: var(--studiocolor2);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.email-footer-input::-moz-placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.email-footer-input::placeholder {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-footer-input {
  height: 50px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}

.footer-items {
  font-weight: 400;
}

.footer-adress {
  margin-top: 20px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
}

.studio-logo-f {
  color: #fff;
}/*# sourceMappingURL=main.css.map */