.svg-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link:hover,
.svg-link:focus {
  background-color: #2196f3;
}

.svg-link:hover .cosial-icon {
  fill: #fff;
  
}
